@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F6F7F7;
  overflow-x: hidden;
}

footer {
  // padding-left: 9px;
  // padding-right: 9px;
}

#logo {
  font-family: Yu Gothic UI Semibold;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  color: white;
}

.navbar {
  border: none;
  background-color: #135E96;
  border-radius: 0px;
}

#white {
  color: white!important;
}

.nav li:hover{
  background-color: #0A4B78;
}

nav.navbar {
  margin-bottom: 0px;
}

#myCarousel {
  margin-bottom: 30px;
}

.dropdown .dropdown-toggle:focus {
  background-color: #01263A!important;
}

.dropdown-menu a:hover {
  background-color: #C5D9ED!important;
}

.nav {
  color: white;
}
.active {
  background-color: #01263A!important;
}

.marketing {
  text-align: center;
}

.description {
  margin-top: 0;
}

.well a {

}

.chef-info {
  margin-top: 0px;
  margin-bottom: 10px
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  font-weight: bold;
  font-size: 1.20em;
}

span.badge a{
  color: white;
}

.input_checkbox input {
  width: auto !important;
}
section.chef-info {
  padding-top: 10px;
  padding-left: 20px;
}

.dropdown-menu-ingredient {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
// div.fix-container {
//   margin-left: 20px;
//   margin-right: 20px;
// }


.fix-container {

  @media (max-width: 991px) {

  div.asdasd {
    margin-left: 30px!important;
    margin-right: 30px!important;
  }

}
}

.fix-name {

  @media (max-width: 991px) {

    div {
      text-align: center!important;
      margin: auto;
    }

    .add-margin-bottom {
      margin-bottom: 10px;
    }
  }

}

.fix-name2 {
  @media (min-width: 768px) and (max-width:991px){

    div {
      text-align: center!important;
      margin-left: 90px;
    }
    .add-margin-bottom {
      margin-bottom: 10px;
    }

}
}

.fix-avatar {
  @media (max-width:991px){

    section {
      text-align: center;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
      section {
        padding-left: 0px;
      }
    }
  @media (min-width: 1201px) {
    section {
      padding-left: 30px;
    }
  }
}

.fix-name3 {
  @media (max-width: 767px) {

    div {
      text-align: center!important;
      margin-left: 20px;
    }
    .add-margin-bottom {
      margin-bottom: 10px;
    }
  }
}

.fix-name4 {
  @media (min-width: 992px) {

    .margin-left {
      margin-left: 170px;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .add-margin-left{
      margin-left: 250px;
    }
  }
  @media(min-width: 1201px) {
      .add-margin-left {
        margin-left: 300px;
      }
    }

  @media (max-width: 640px) {
    .align-center {
      text-align: center;
    }
  }
}

.fix-name6 {
  @media (max-width: 640px) {
    .align-center {
      text-align: center;
    }
  }
}

.fix-color {
  @media (max-width: 767px) {
    .white {
      color: white!important;
    }

    .hover-blue a:hover {
      background-color: #C5D9ED;
      color: #000000!important;
    }
    .divider {
      background-color: white!important;
    }
  }
}

.fix-padding {
  min-height: 0px;
}
.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-image-style {
  margin-top: 15px;
}

.liking {
  padding-right: 10px;
}
