<footer class="container blog-footer">
  <p><span style="float: left;">Blog template built with <a href="https://getbootstrap.com/">Bootstrap</a>.</span><span style="float: right;"><a href="#">Back to top</a></span></p>
  <br><br>
</footer>
